**`Aula de Pandas`**

 - Documentação e laborariorio no github [GitHub torneseumprogramador](https://github.com/torneseumprogramador/desafio_21_dias_data_science)

---

In [3]:
!python --version

Python 3.9.16

In [4]:
!python -m pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (1.5.3)
Requirement already satisfied: numpy>=1.20.3 in /usr/local/lib/python3.9/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

**Data Frame:** é uma tabela em memória

In [6]:
# verifica o servidor corrente
!uname -a

Linux c4ab9c97c1c1 5.10.147+ #1 SMP Sat Dec 10 16:00:40 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

In [11]:
import pandas as pd

data = 


[
    {
        'nome':'Narciso',
        'idade': 33,
        'cidade': 'SP'
    },
        {
        'nome':'Isa',
        'idade': 28,
        'cidade': 'MG'
    }
]

df = pd.DataFrame(data)
# print(df)
display(df)

      nome  idade cidade
0  Narciso     33     SP
1      Isa     28     MG

In [15]:
import pandas as pd

data = {
        'nome':['Narciso','Isa', 'Liah', 'Lana'],
        'idade': [33, 28, 0 , 6],
        'cidade': ['SP', 'MG', 'ABC', 'ABC']
}

df = pd.DataFrame(data)

# print(df)
display(df)

      nome  idade cidade
0  Narciso     33     SP
1      Isa     28     MG
2     Liah      0    ABC
3     Lana      6    ABC

In [13]:
print(type(df)) # o tipo de variavel df

<class 'pandas.core.frame.DataFrame'>

In [16]:
display( df.loc[0] ) # retorna o primeiro indice da lista

nome      Narciso
idade          33
cidade         SP
Name: 0, dtype: object

In [17]:
item = df.loc[0]
print(type(item)) # tipo do objeto de dentro de um dataframe

<class 'pandas.core.series.Series'>

In [20]:
df.loc[:,['nome', 'cidade']] #seleciona todas as linhas das ccolunas listadas

      nome cidade
0  Narciso     SP
1      Isa     MG
2     Liah    ABC
3     Lana    ABC

In [21]:
df.loc[0:2,['nome', 'idade']] # retorna da linha 0 até a linha 2 de um dataframe

      nome  idade
0  Narciso     33
1      Isa     28
2     Liah      0

In [22]:
df.loc[0:2, 'nome'] # retorna da linha 0 até a linha 2 mostrando somente uma coluna

0    Narciso
1        Isa
2       Liah
Name: nome, dtype: object

In [23]:
print(type(df.loc[0:2, 'nome']))

<class 'pandas.core.series.Series'>


<class 'pandas.core.series.Series'>  - Series: Representa uma linha ou uma coluna no dataframe

In [25]:
df.loc[[0,2]] # retorna linhas pelo indice da linha no caso 0 = linha 1 e 2 = linha 3

      nome  idade cidade
0  Narciso     33     SP
2     Liah      0    ABC

In [27]:
df.loc[(df['idade'] >= 20) & (df['idade'] <= 40)] # busccando por coluna entre valores

      nome  idade cidade
0  Narciso     33     SP
1      Isa     28     MG

In [30]:
df.loc[0:2] # retorna da linha 0 ate a linha dois mostrando todas a colunas

      nome  idade cidade
0  Narciso     33     SP
1      Isa     28     MG
2     Liah      0    ABC

In [31]:
df.iloc[0,1] # seleciona a primeira linha e segunda coluna

33

In [32]:
df.iloc[:,[1,2]] # seleciona as colunas do indice 1 e 2 com todas as linhas

   idade cidade
0     33     SP
1     28     MG
2      0    ABC
3      6    ABC

In [33]:
df.iloc[[0,2],:] # seleciona linha 0 e 2 com todas as colunass

      nome  idade cidade
0  Narciso     33     SP
2     Liah      0    ABC